@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  
}
body {
  min-height: 100%;
  text-align: center;

  font-family: "Montserrat", sans-serif;
  background-color: white;
}
li,
a {
  font-weight: 500;
  font-size: 16px;
  color: rgb(46, 54, 68);
  text-decoration: none;
}

/* Navbar */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 10%;
  border-bottom: 6px solid rgba(46, 54, 68, .2);
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
}
.nav__links li a {
  padding: 0px 40px;
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: rgba(114, 133, 167, 0.912);
}

/* Banner */

.banner{
  height: 100vh;
}

.banner__image {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      to left bottom,
      rgba(46, 146, 240, 0.651),
      rgba(56, 71, 85, 0.6)
    ),
    url("./images/banner.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.banner__title {
  padding-top: 47vh;
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.banner__text {
  color: white;
  font-size: 30px;
}
.banner__text:first-of-type {
  margin-top: 30px;
}

/* Logos */
.logos {
  margin: 30px 0;
}
.logos img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.logos img:hover {
  transform: rotate(-20deg) scale(1.2);
  transition: 0.5s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.logos a:not(:last-child) {
  margin-right: 30px;
}

/* Titles */

.titles {
  font-size: 40px;
  font-weight: bold;
  padding: 80px;
  color: rgb(46, 54, 68);
}

/* About */

.about{
  background-color: rgba(46, 54, 68, .1);
  height: 100vh;
}

.info__wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills, .profile{
  width: 100%;
}
.skills{
  padding: 0 8%;
}

.skills_title{
  color:rgb(46, 54, 68);
  font-size:30px;
  font-weight: bold;
}

.skills_wrapper{
  margin: 3% auto;
  padding: 50px;
  border-radius: 2%;
  background-color: white;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.skill_bar{
  background-color: rgba(46, 54, 68, .1);
  margin: 10px;
  overflow: hidden;
}

.skill_bar_value{
  text-align: left;
  height: 100%;
  padding: 10px;
  color:  white;
  font-weight: bold;
  background-color:rgb(46, 54, 68);
}

.value-50 { width: 50%; }
.value-60 { width: 60%; }
.value-65 { width: 65%; }
.value-70 { width: 70%; }
.value-75 { width: 75%; }
.value-80 { width: 80%; }
.value-85 { width: 85%; }
.value-90 { width: 90%; }

.description_wrapper{
  display: flex;
  justify-content: center;
}
.description{
  padding-top: 50px;
  width: 50%;
  text-align: justify;
  font-weight: bold;
}

.profile img{
  width: 40%;
  height: 40%;
  border: 5px solid white;
  border-radius: 2%;
}

/* Projects */

.projects{
  height: 100vh;
}
.projects_wrapper{
  /* padding: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project_card{
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: rgb(46, 54, 68);
  border-radius: 1%;
  box-shadow: 0px 2px 6px 0px;
  margin: 2rem;
  height: 30rem;
}

.project_card:hover{
  opacity: 0.7;
}

.card_image{
  position: absolute;
  height: 20rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_image_1{
  background-image: 
  url("./images/covid-19-analysis.png");
}
.card_image_2{
  background-image: 
  url("./images/salary_scraping.gif");
}
.card_image_3{
  background-image: 
  url("./images/discord.jpg");
}

.card_info{
  margin: 24rem 2rem;
  font-size: 0.9 rem;
  color: white;
}

/* Footer */

.footer-wrap {
  height: 8rem;
  width: 100%;
  background-image: linear-gradient(
      to left bottom,
      rgba(46, 146, 240, 0.651),
      rgba(56, 71, 85, 0.6)
    ),
    url("./images/banner.jpg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer-text {
  color: white;
  font-weight: bold;
}

.social-media-wrap .logos {
  margin: 20px;
}
.social-media-wrap .logos img {
  margin: 20px 0 10px 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-media-wrap .logos img:hover {
  transform: rotate(0deg) scale(1);
  transition: 0.5s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}